{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true,
    "commonjs": true,
    "es6": true
  },
  "extends": [
    "react-app",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "react-hooks",
    "@typescript-eslint"
  ],
  "rules": {
    "react/prop-types": "off",
    "react-hooks/exhaustive-deps": "warn",
    "comma-dangle": ["error", "only-multiline"],
    "no-console": "warn",
    "arrow-spacing": ["error", { "before": true, "after": true }],
    "no-nested-ternary": "error",
    "no-multiple-empty-lines": ["error", { "max": 1, "maxEOF": 0 }],
    "curly": "error",
    "no-multi-spaces": ["error", { "ignoreEOLComments": true }],
    "computed-property-spacing": ["error", "never"],
    "func-call-spacing": ["error", "never"],
    "linebreak-style": ["error", "unix"],
    "no-eval": "error"
  }
}
